{% extends 'todoapp\base.html' %}
{% block 'main' %}


    <div class="row">
        <div class="col-md-12">
            <h1 class="text-bg-primary p-1 mt-4 text-center">Task Planner</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h1 class="text-bg-primary p-2 text-center mt-4">Add Task</h1>

            <form  method="POST" action="">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="first" class="form-label"><strong>Task name</strong></label>
                    <input type="text" class="form-control" name="tname" id="first" placeholder="Enter Task Name">
                </div>
                <div class="mb-3">
                    <label for="second" class="form-label" ><Strong>Task Details</Strong></label>
                    <textarea class="form-control"  name="tdetails" id="second" rows="3"></textarea>
                  </div>  
                  <div class="mb-3">
                    <select class="form-select"  name="cat" aria-label="Default select example">
                        <option>Select Category</option>
                        <option value="1">Office</option>
                        <option value="2">Personal</option>
                        
                      </select>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" value="0" name="status" id="ongoing">
                    <label class="form-check-label" for="ongoing">
                     Ongoing
                    </label>
                  </div>
                  <div class="form-check mb-3">
                    <input class="form-check-input" type="radio" value="1" name="status" id="Completed">
                    <label class="form-check-label" for="Completed">
                      Completed
                    </label>
                  </div>

                  <div class="mb-3">
                    <label for="fifth" class="form-label"><strong>Due Date</strong></label>
                    <input type="date" class="form-control" name="duedate" id="fifth" >
                </div>
                  
                  <div class="mb-3">
                    <input type="submit" value="Create task" class="btn btn-danger">
                  </div>
            

            </form>
        </div>
        <div class="col-md-8">
           <h1 class="text-bg-primary p-2 text-center mt-4">Task List</h1>

           <table class="table table-bordered table-success table-striped">
            <tr>
                <th>Sr.No</th>
                <th>Task Name</th>
                <th>Task Details</th>
                <th>Category</th>
                <th>Status</th>
                <th>End Date</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>

            {% for x in data %}
                <tr>
                     <td>{{forloop.counter}}</td>
                     <td>{{x.name}}</td>
                     <td>{{x.detail}}</td>
                     {% if x.cat == '1' %}
                     <td>Office</td>
                     {% else %}
                     <td>Personal</td>
                     {% endif %}
                     
                     {% if x.status == 0 %}
                     <td>Pending</td>
                     {% else %}
                     <td>Completed</td>
                     {% endif %}
                     <td>{{x.enddate}}</td>
                     <td><a href="/edit/{{x.id}}"><button class="btn btn-warning">Edit</button></a></td>
                     <td><a href="/delete/{{x.id}}"><button class="btn btn-danger">Delete</button></a></td>
                </tr>

              {% endfor %}  
           </table>
            
        </div>
    </div>
</div>
<hr>
<div class="row my-3">
            <div class="col-md-4">
              <h5>By Category</h5>
              <p><a href="/dashboard">All</a></p>
              <p><a class="anchor" href="/catfilter/1">Office</a></p>
              <p><a class="anchor" href="/catfilter/2">Personal</a></p>
            </div>

            <div class="col-md-4">
              <h5>By Status</h5>
              <p><a href="/dashboard">All</a></p>
              <p><a class="anchor" href="/statusfilter/0">Ongoing</a></p>
              <p><a class="anchor" href="/statusfilter/1">Completed</a></p>
              <hr>

              <h5>By Date</h5>
              <p><a class="anchor" href="/datesort/0">Oldest</a></p>
              <p><a class="anchor" href="/datesort/1">newest</a></p>
            </div>

            <div class="col-md-4">
              <h5>Between Date</h5>
              <form method="GET" action="/datefilter">
              <div class="mb-3">
                <label for="one" class="form-label"><strong>From</strong></label>
                <input type="date" name="from" class="form-control" id="one" >
              </div>
              <div class="mb-3">
                <label for="two" class="form-label"><strong>To:</strong></label>
                <input type="date" class="form-control" name="to" id="two" >
              </div>

              


              <div class="mb-3">
                <input type="submit" value="search">
              </div>    
              </form>
            </div>
</div>

{% endblock 'main' %}